
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    background: #1f1f1f;
    font-family: "Poppins";
    font-style: normal;
    width: 1440px;
    height: 2203px;
    
}

.container{
    display: flex;
    
    justify-content: space-between;
    width: 1333px;
    
    align-items: center;
    padding-left: 59px;
    padding-right: 48px;

}

.logo{
    margin: 0px;
    color: #FFFFFF;
    width: 159px;
   

font-weight: 700;
font-size: 48px;
line-height: 72px;
}

#search{
    
width: 569px;
height: 26px;

padding-left: 26px;
padding-top: 14px;
padding-bottom: 11px;
padding-right: 0px;


border: 1px solid #262626;
background: #262626;
border-radius: 15px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 53px;
    width: 434px;
}
button{
    border: 0px;
    border-radius: 15px;
    background:#262626 ;
    color: #FFFFFF;
    padding: 5px 30px;
    font-weight: 600;
    font-size: 22px;
}

.about{
width: 1323px;
height: 588px;
background: #262626;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
margin-left: 59px;
margin-right: 58px;
}

.heading1{
    font-weight: 600;
font-size: 48px;
line-height: 72px;
color: #FFFFFF;


width: 289px;
height: 53px;
padding-left: 46px;
padding-top: 41px

}
.all_images{
    display:flex;
    flex-flow: column;
}

img+p{
    display: inline-block;
    color: #c4c4c4;
    font-weight: 600;
    font-size: 32px;

}

